<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @faculty.name %>
</p>

<p>
  <b>College:</b>
  <%= @faculty.college.name %>
</p>


<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
