<%= form_for(@student_list) do |f| %>
  <% if @student_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_list.errors.count, "error") %> prohibited this student_list from being saved:</h2>

      <ul>
      <% @student_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :roll_number %><br />
    <%= f.number_field :roll_number %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= label_tag("Faculty:") %>
  <%= collection_select(:student_list, :faculty_id,Faculty.all, :id, :name, prompt: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
