<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'List of student',student_lists_path%>
<%= link_to 'List of College',colleges_path%>
<%= link_to 'List of Universities',universities_path%>
<%= link_to 'List of Faculty',faculties_path%>
<%= link_to 'List of Teacher',teachers_path%>
