<h1>Listing results</h1>

<table>
  <tr>
    <th>Student list</th>
    <th>Exam</th>
    <th>Faculty</th>
    <th>Division</th>
    <th>Percentage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.student_list %></td>
    <td><%= result.exam %></td>
    <td><%= result.faculty %></td>
    <td><%= result.division %></td>
    <td><%= result.percentage %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Edit', edit_result_path(result) %></td>
    <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Result', new_result_path %>
