<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @college.name %>
</p>

<p>
  <b>Address:</b>
  <%= @college.address %>
</p>

<p>
  <b>University:</b>
  <%= @college.university.name %>
</p>


<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
